.App {
    text-align: center;
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}